body {
  background-color: rgb(5, 1, 58);
}
#game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
button {
  font-size: 1.5rem;
  border: none;
  color: white;
  border-radius: 10%;
  padding: 20px;
  text-align: center;
  margin: 20px;
  cursor: pointer;
  font-weight: 900;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

#Start {
  background-color: #ff3939;
}

#Factory {
  background-color: #2fff00;
}
